:root {
  /* Azul principal extraído del logo */
  --tron: #46bfee;
  /* Como RGB para sombras/glow */
  --tron-rgb: 70, 191, 238;
}

@keyframes menuFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tron {
  position: relative;
  display: inline-block;
  padding: 22px 30px;
  width: 100%;

  color: var(--tron);
  background: transparent;
  border: none;
  border-radius: 4px;

  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 4px;

  cursor: pointer;
  user-select: none;
  transition: 0.4s ease;
  overflow: hidden;

  /* mismo look en <a> o <button> */
  font-family: inherit;

  &.highlighted,
  &:hover,
  &:focus-visible {
    background: var(--tron);
    color: #050801;
    /* glow */
    box-shadow:
      0 0 5px rgba(var(--tron-rgb), 0.9),
      0 0 25px rgba(var(--tron-rgb), 0.7),
      0 0 50px rgba(var(--tron-rgb), 0.5),
      0 0 200px rgba(var(--tron-rgb), 0.25);
    outline: none;
  }
}

@media (width > 1700px) {
  aside {
    position: fixed;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    z-index: 10;
    user-select: none;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
  }

  @supports (animation-timeline: view()) {
    aside {
      animation: menuFadeIn linear both;
      animation-timeline: view();
      animation-range: 100vh;
    }
  }

  @supports not (animation-timeline: view()) {
    aside {
      animation: menuFadeIn 1s linear both var(--logo-animation-duration);
    }
  }
}
