.ground {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;

  &:after {
    -webkit-mask-image: -webkit-gradient(linear, left 90%, left top, from(#000000), to(#00000000));
    mask-image: gradient(linear, left 90%, left top, from(#000000), to(#00000000));
    transform: perspective(200px) rotateX(40deg) scale(2, 1);

    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 100vh;
    padding: 1px;

    -webkit-background-clip: content-box;
    background-clip: content-box;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    transform-origin: bottom center;
    will-change: transform;

    background-position: center bottom;
    background-size: 50px 50px;
    background-image:
      linear-gradient(to right, var(--main-color) 2px, transparent 2px),
      linear-gradient(to bottom, var(--main-color) 2px, transparent 2px);
  }
}

@supports (animation-timeline: scroll()) {
  .ground {
    animation: groundScrollReveal linear;
    animation-timeline: scroll();

    &:after {
      animation: gridScrollAnimation linear;
      animation-timeline: scroll(root);
    }
  }
}

@keyframes groundScrollReveal {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  30%,
  100% {
    opacity: 1;
    transform: translateY(0);
    bottom: 0;
  }
}

@keyframes gridScrollAnimation {
  0% {
    background-size: 50px 50px;
  }
  25% {
    background-size: 40px 40px;
  }
  50% {
    background-size: 35px 35px;
  }
  75% {
    background-size: 30px 30px;
  }
  100% {
    background-size: 25px 25px;
  }
}
