@keyframes headerFadeUp {
  0% {
    top: 40vh;
    height: 140px;
  }
  100% {
    top: 5vh;
    height: 50px;
  }
}

header {
  position: sticky;
  top: 50%;
  z-index: 20;
  padding-inline: clamp(20px, 5vw, 100px);

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* Glow effect */
  filter: drop-shadow(0 0 100px #00eeff91);
  
  & .logo {
    margin: 0 auto;
    max-width: 60%;
    height: 100%;
  }
}

@supports (animation-timeline: view()) {
  header {
    animation: headerFadeUp linear both;
    animation-timeline: view();
    animation-range: 100vh 180vh;
  }
}

@supports not (animation-timeline: view()) {
  header {
    top: 5vh;
    height: 50px;
  }
}
