@keyframes logoFadeUp {
  0% {
    top: 50%;
    scale: 1;
  }
  100% {
    top: 20px;
    scale: 0.5;
  }
}

.logo {
  position: sticky;
  top: 50%;
  margin: 0 auto;

  z-index: 10;
  width: 80vh;
  max-width: 60vw;

  /* Glow effect */
  filter: drop-shadow(0 0 100px #00eeff91);
}

@supports (animation-timeline: view()) {
  .logo {
    animation: logoFadeUp linear both;
    animation-timeline: view();
    animation-range: 100vh 180vh;
  }
}

@supports not (animation-timeline: view()) {
  .logo {
    animation: logoFadeUp 1s linear forwards var(--logo-animation-duration);
  }
}
