@import './fonts.css';
@import './logo.css';
@import './hero.css';
@import './agenda.css';
@import './grid.css';
@import './faq.css';
@import './aside.css';
@import './ground.css';

:root {
  font-family: 'Gotham', system-ui, Helvetica;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  scroll-behavior: smooth;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --main-color: #48c0ee;
  --main-highlight-color: #48faff;
  --accent-color: #e41513;

  --logo-animation-duration: 5s;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-size: 100%;
  overflow-y: auto;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;

  & > section {
    width: min(90vw, 1200px);
    height: 100dvh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

a {
  color: var(--main-color);
  text-decoration: none;
  cursor: pointer;
}

@supports (animation-timeline: view()) {
  main > section > article {
    animation: sectionContentFadeIn both;
    animation-timeline: view();
  }
}

@supports not (animation-timeline: view()) {
  body {
    overflow-y: hidden;
    animation: waitLogo var(--logo-animation-duration) forwards var(--logo-animation-duration);
  }
}

@keyframes waitLogo {
  0% {
    overflow-y: hidden;
  }
  100% {
    overflow-y: auto;
  }
}

@keyframes sectionContentFadeIn {
  0% {
    opacity: 0;
    scale: 0.7;
  }
  50% {
    opacity: 1;
    scale: 1;
  }
  100% {
    opacity: 0;
    scale: 0.7;
  }
}
